# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db

# Test cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

artifacts/